---
import BaseLayout from "../layouts/pico.astro";
import Card from "../components/card.astro";
import { groupedActions } from "../lib/actions";

const records = groupedActions;
---

<BaseLayout>
  <header class="container">
    <h1>Metering Record Book</h1>
  </header>
  <section class="container">
    {
      records.map(([type, action]) => (
        <Card heading="h2" title={type} items={action} />
      ))
    }
  </section>
</BaseLayout>

<style>
  :root {
    --color-title: ;
  }

  h1{
    color: var(--color-title);
  }
</style>
