---
import type { ActionName, Action } from "../types";
import { Icon } from "astro-icon";
import ActionIcon from "./action-icon.astro";

interface Props {
  title: ActionName;
  items: Action[];
  heading: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
}

const { title, items, heading: Hn } = Astro.props;
---

<article class="card">
  <ActionIcon action={title} />
  <Hn>
    <a href="">{title.replace("_", " ")}</a>
  </Hn>
  <ul role="list">
    {
      items.map((item) => (
        <li>
          <Icon width="20" name="simple-line-icons:check" />
          {item.title}
        </li>
      ))
    }
  </ul>
  <button>Add</button>
</article>

<style>
  article {
    --color-icon: hsl(121, 65%, 51%);
    --color-title: hsl(121, 70%, 71%);

    display: grid;
    gap: 1rem;
    margin: 0;
  }

  @media (prefers-color-scheme: light) {
    article {
      --color-title: hsl(121, 50%, 51%);
    }
  }

  a {
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-title);
    text-transform: capitalize;
    margin: 0;
  }

  svg {
    color: var(--color-icon);
  }

  ul {
    padding-inline: 0;
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  button {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    max-height: 50px;
  }
</style>
