@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --size-100: 0.5em;
  --size-200: 0.75em;
  --size-300: 1em;
  --size-400: 1.5em;
  --size-500: 1.75em;

  --clr-neutral-100: hsl(223, 100%, 96%);

  --clr-accent-blue: #2d318f;
  --clr-accent-orange: #8F8C2D;

  --ff-primary: 'Poppins', sans-serif;

  --fw-100: 300;
  --fw-200: 400;
  --fw-300: 500;

  box-sizing: border-box;
  font-family: var(--ff-primary);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
}

body {
  background-color: var(--clr-neutral-100);
}

a {
  text-decoration: none;
}

a:visited, a:active, a:focus {
  color: unset;
}

main {
  display: grid;
  gap: 2rem;
}

main a {
  color: var(--clr-accent-orange);
}

main > header {
  padding-block: var(--size-400);
  text-align: center;
}

h1,
h2 {
  margin-block-end: var(--size-100);
  font-weight: 500;
}

.primary-header .container {
  height: 300px;
  font-size: 1.25rem;
  color: var(--clr-neutral-100);
  display: flex;
  flex-flow: column;
}

.primary-header .container > :last-child {
  flex-grow: 1;
  display: grid;
  place-items: center;
  text-align: center;
}

.primary-header {
  --gradient_rotation: 145deg;
  --gradient_position: 40%;
  --gradient_start_clr: hsla(238, 52%, 37%, 1);
  --gradient_stop_clr: hsl(237, 30%, 29%);
  
  background: var(--gradient_stop_clr);
  background: linear-gradient(var(--gradient_rotation), var(--gradient_start_clr) var(--gradient_position), var(--gradient_stop_clr) 100%);
}

.primary-header .title {
  font-size: 2rem;
  font-weight: var(--fw-500);
  color: var(--clr-accent-orange);
}

.primary-header .brand {
  font-size: 0.65em;
  text-transform: uppercase;
  color: var(--clr-accent-orange);
}

.primary-navigation {
  display: flex;
  justify-content: space-between;
  padding-block: var(--size-100);
  position: relative;
}

.primary-navigation a {
  text-decoration: none;
  color: var(--clr-neutral-100);
  transition: color ease-in-out 0.35s;
}

.primary-navigation a:hover {
  color: var(--clr-accent-orange);
}

.hamburger-open,
.hamburger-close {
  background: unset;
  border: none;
  scale: 0.85;
  width: 50px;
  height: 30px;
}

.hamburger-open {
  display: flex;
  flex-flow: column;
  gap: 0.3em;
  align-items: end;
  justify-items: center;
}

.hamburger-close {
  display: grid;
  align-items: start;
  justify-items: end;
}

.hamburger-close > .hamburger-line {
  grid-row: 2;
  grid-column: 1;
}

.hamburger-close .hamburger-line:first-child {
  transform-origin: center;
  transform: rotate(45deg);
}

.hamburger-close .hamburger-line:last-child {
  transform-origin: center;
  transform: rotate(135deg);
}

.hamburger-line {
  height: 2px;
  width: 25px;
  background-color: var(--clr-accent-orange);
}

.primary-navigation .navigation-toggle:checked ~ .links-close {
  display: none;
}

.primary-navigation .navigation-toggle:not(:checked) ~ .links-open {
  display: none;
}

.primary-navigation .navigation-toggle:not(:checked) ~ .links-close {
  position: fixed;
}

.links-close, .links-open {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.links-close {
  inset: 0 0 0 0;
  background-color: var(--clr-accent-blue);
  height: 50vh;
  padding: var(--size-200);
  box-shadow: 0 10px 25px rgba(0,0,0, 0.3);
}

.links-close::after {
  content: "";
  background-color: hsl(238, 52%, 37%, 0.7);
  position: fixed;
  height: 50vh;
  width: 100%;
  transform: translateY(50vh);
  position: absolute;
  inset: 0 0 0 0;
}

.primary-navigation .links {
  font-size: 0.7em;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.primary-footer {
  display: grid;
  place-items: center;
  height: 300px;
  background-color: var(--clr-accent-orange);
  color: var(--clr-accent-blue);
}

.service .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(150px, 200px);
  grid-auto-rows: minmax(150px, 200px);
  gap: 1em;
}

.service .title {
  text-align: center;
}

.projects {
  color: var(--clr-neutral-100);
  background-color: #272A7B;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: var(--size-300);
}

.project {
  background-color: #2A2D85;
  border-radius: 5px;
  box-shadow: 3px 2px 6px hsl(238, 52%, 28%);
  width: 100%;
}

.project {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  align-items: center;
  padding-block: var(--size-400);
}

.project .list {
  display: flex;
  justify-content: space-between;
  padding-block: var(--size-200);
  font-size: 0.85em;
  color: #272A7B;
}

.project .title {
  text-align: center;
  color: var(--clr-accent-orange);
}

.project .title + p {
  text-align: center;
}


@media (min-width: 800px) {
  .project {
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-items: center;
    justify-content: space-between;
  }

  .project .list {
    flex-flow: column;
    gap: 1em;
    align-items: start;
  }

  .project .title,
  .project .title ~ p {
    text-align: left;
  }
}

.service .list,
.project .list,
.primary-navigation .links {
  list-style: none;
}

.card {
  padding: var(--size-100);
  border: 2px solid var(--clr-accent-blue);
  border-radius: 5px;
  text-align: center;
  height: 100%;
  display: grid;
  gap: 0;
  place-items: center;
}

.title {
  color: var(--clr-accent-blue);
}

.container {
  padding-inline: calc(var(--size-500) * 1.15);
  max-width: 900px;
  margin: 0 auto;
}

[aria-hidden] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}