---
import "../styles/main.css";
const { title = "MMIS" } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/mmis/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot/>
  </body>
</html>

<style>
  body {
    background-color: var(--clr-neutral-100);
  }
</style>